In [1]:
#%pip install python-dotenv
#%pip install pyodbc
#%pip install pandas
#%pip install numpy

In [1]:
import pyodbc
from dotenv import dotenv_values
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
# credentials for data extraction from Microsoft server

environment_variables=dotenv_values('.env')

database=environment_variables.get("DATABASE")
server=environment_variables.get("SERVER")
username=environment_variables.get("USERNAME")
password=environment_variables.get("PASSWORD")

connection_string=f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

connection=pyodbc.connect(connection_string)

In [4]:
# extract data from Table 1: dbo.oil
# assign it to data1
# preview data1

query="Select * from dbo.oil" 
data1=pd.read_sql(query, connection)

data1.head()

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02   93.139999
2  2013-01-03   92.970001
3  2013-01-04   93.120003
4  2013-01-07   93.199997

In [5]:
# Save extracted data as data1.csv

data1.to_csv('data1.csv')

In [6]:
# extract data from Table 2: dbo.holidays_events
# assign it to data2
# preview data2

query2="Select * from dbo.holidays_events" 
data2=pd.read_sql(query2, connection)

data2.head()

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

In [7]:
# Save extracted data as data2.csv

data2.to_csv('data2.csv')

In [8]:
# extract data from Table 3: dbo.stores
# assign it to data3
# preview data3

query3="Select * from dbo.stores" 
data3=pd.read_sql(query3, connection)

data3.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [9]:
# Save extracted data as data3.csv

data3.to_csv('data3.csv')

In [10]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1218 non-null   object
 1   dcoilwtico  1175 non-null   float64
dtypes: float64(1), object(1)
memory usage: 19.2+ KB

In [12]:
test = pd.read_csv(r"C:\Users\lenovo\Desktop\Azubi\Project_LP3\Regression_Project\Datasets\test.csv")

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28512 entries, 0 to 28511
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   28512 non-null  int64
 1   id           28512 non-null  int64
 2   date         28512 non-null  object
 3   store_nbr    28512 non-null  int64
 4   family       28512 non-null  object
 5   onpromotion  28512 non-null  int64
dtypes: int64(4), object(2)
memory usage: 1.3+ MB

In [11]:
test=pd.read_csv('test.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'test.csv'